doctype html
html(lang="en")
	head
		title=fileName
		link(rel="stylesheet", href="/app.css")
			
		meta(property="og:title" content=fileName)
		meta(property="og:type" content="website")
		meta(property="og:image" content=meta.fullDirectPath)
		meta(property="og:url" content=meta.fullPath)
		
	body
		.status-bar-top
			a(href=filePath title="Direct link").filename=fileName
				
		.viewer
			.image-container
				img.image(src=filePath, alt="")
		
		script(src="/app.js")
